@font-face {
    font-family: 'UncutSans';
    font-weight: 300;
    src: url('./src/assets/fonts/UncutSans-Book.woff') format('woff');
}

@font-face {
    font-family: 'UncutSans';
    font-weight: 400;
    src: url('./src/assets/fonts/UncutSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'UncutSans';
    font-weight: 500;
    src: url('./src/assets/fonts/UncutSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'UncutSans';
    font-weight: 600;
    src: url('./src/assets/fonts/UncutSans-Semibold.woff') format('woff');
}