@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'UncutSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'UncutSans', sans-serif;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .wrapper {
        @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    /* TYPOGRAPHY */
    /* 64 */
    .h1-bold {
        @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
    }

    /* 40 */
    .h2-bold {
        @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    .h2-medium {
        @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    /* 36 */
    .h3-bold {
        @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    .h3-medium {
        @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    /* 32 */
    .h4-medium {
        @apply font-medium text-[32px] leading-[40px];
    }

    /* 28 */
    .h5-bold {
        @apply font-bold text-[28px] leading-[36px];
    }

    /* 24 */
    .p-bold-24 {
        @apply font-bold text-[24px] leading-[36px];
    }

    .p-medium-24 {
        @apply font-medium text-[24px] leading-[36px];
    }

    .p-regular-24 {
        @apply font-normal text-[24px] leading-[36px];
    }

    /* 20 */
    .p-bold-20 {
        @apply font-bold text-[20px] leading-[30px] tracking-[2%];
    }

    .p-semibold-20 {
        @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
    }

    .p-medium-20 {
        @apply text-[20px] font-medium leading-[30px];
    }

    .p-regular-20 {
        @apply text-[20px] font-normal leading-[30px] tracking-[2%];
    }

    /* 18 */
    .p-semibold-18 {
        @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
    }

    .p-medium-18 {
        @apply text-[18px] font-medium leading-[28px];
    }

    .p-regular-18 {
        @apply text-[18px] font-normal leading-[28px] tracking-[2%];
    }

    /* 16 */
    .p-bold-16 {
        @apply text-[16px] font-bold leading-[24px];
    }

    .p-medium-16 {
        @apply text-[16px] font-medium leading-[24px];
    }

    .p-regular-16 {
        @apply text-[16px] font-normal leading-[24px];
    }

    /* 14 */
    .p-semibold-14 {
        @apply text-[14px] font-semibold leading-[20px];
    }

    .p-medium-14 {
        @apply text-[14px] font-medium leading-[20px];
    }

    .p-regular-14 {
        @apply text-[14px] font-normal leading-[20px];
    }

    /* 12 */
    .p-medium-12 {
        @apply text-[12px] font-medium leading-[20px];
    }
}